/vendor
/node_modules
/.phpunit.cache
/.phpunit.result.cache
/.idea
/.vscode
/.DS_Store
/Thumbs.db
/.env
/.env.*
!/.env.example
/bootstrap/cache/*.php
/bootstrap/cache/*.json
/public/build
/public/hot
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/coverage
/npm-debug.log
/yarn-error.log
/pnpm-debug.log
